{{>layout/header}}
<h1>카드정보 등록</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">거래내역입력</label>
                <input type="text" class="form-control" id="cardnum">
                <input type="text" class="form-control" id="cvc">
                <input type="text" class="form-control" id="cardnum">
                <input type="text" class="form-control" id="cardnum" maxlength="16">
                <input type="text" class="form-control" id="cardnum" maxlength="16">

            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>
{{>layout/footer}}